<div class="mainContainer">

  <div class="details-heading">
    <div class="cover-data-container">
      <div class="search-details-cover-container">
        <img src="{{book.bookPictureUrl}}" alt="" />
      </div>
      <div class="book-data-container">
        <p>Published in {{book.publishedDate}}</p>
        <p>{{book.pageCount}} pages</p>
      </div>
    </div>
    <div class="links-container">
      <div class="dlt-btn-container">
        <a href="/my-saved-books/{{book._id}}/delete">
          <button class="dlt-btn" type="submit">Delete</button>
        </a>
      </div>
      <div class="back-btn-container">
        <a href="/bookshelf/my-saved-books">
          <button class="back-btn" type="submit">Back</button>
        </a>
      </div>
    </div>
  </div>

  <div class="detailsContainer">
    <h2>{{book.title}}</h2>
    {{!-- <h4 class="author">{{book.authors}} </h4> --}}
    <a href="/search/book-search?author={{book.authors}}&title=&generic=&genre=">
          {{book.authors}}
        </a>
    <p class="description">{{cleanDescription book.description}}</p>
    <ul>
      Categories:
      {{#each book.categories}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>

</div>

{{!-- <div class="mainContainer">

  <div class="imageContainer">
    <img class="details-book-cover" src="{{book.bookPictureUrl}}" />
  </div>

  <div class="detailsContainer">
    <h2>Title: {{book.title}}</h2>
    <h4>Authors: {{book.authors}}</h4>

    <p><b>Description:</b>
      {{cleanDescription book.description}}
    </p>

    <p><b>Published in:</b>
      {{book.publishedDate}}
    </p>
    <p><b>Page count:</b>
      {{book.pageCount}}
    </p>
    <h4><b>Genre:</b></h4>
    <ul>
      {{#each book.categories}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="linksContainer">

    <a class="routeBtn" href="/my-saved-books/{{book._id}}/delete">
      <button class="routeBtn">
        Delete
      </button>
    </a>

    <a class="routeBtn" href="/bookshelf/my-saved-books">
      <button class="routeBtn">
        Back
      </button>
    </a>

  </div>

</div> --}}