<div class="mainContainer">

  <div class="imageContainer">
    <img class="details-book-cover" src="{{book.bookPictureUrl}}" />
  </div>

  <div class="detailsContainer">
    <h2>Title: {{book.title}}</h2>
    <h4>Authors: {{book.authors}}</h4>

    <p><b>Description:</b>
      {{cleanDescription book.description}}
    </p>

    <p><b>Published in:</b>
      {{book.publishedDate}}
    </p>
    <p><b>Page count:</b>
      {{book.pageCount}}
    </p>
    <h4><b>Genre:</b></h4>
    <ul>
      {{#each book.categories}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="linksContainer">

    <a class="routeBtn" href="/my-saved-books/{{book._id}}/delete">
      <button class="routeBtn">
        Delete
      </button>
    </a>

    <a class="routeBtn" href="/bookshelf/my-saved-books">
      <button class="routeBtn">
        Back
      </button>
    </a>

  </div>

</div>