
<div class="results-container">
  <div class="search-result-heading">
  <div>
    <img class="headerImage" src="/images/reading.png" alt="">
  </div>

    <h1>Top results for your search</h1>
  </div>


    <ul class="results-list-container">

     
        {{#each books.data.items}}
 <div class="results-item-container">
          <li>

            <div class="cover-img">
              <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="" />
            </div>

            <div class="title">
              <h5>{{this.volumeInfo.title}}</h5>
            </div>

          
              {{#each this.volumeInfo.authors}}
                <div class="author">
                <p>{{this}}</p>
               </div>
              {{/each}}
       

            <div class="description">
              {{#if this.volumeInfo.description}}
                <p> {{splitUrl this.volumeInfo.description}}</p>
              {{/if}}
            </div>
             <div class="details-link-container">
               <a class="details-link" href="/search/{{this.id}}">Log in to view more details!</a>
             </div>

 </div>
          </li>

         
        {{/each}}
     
    </ul>

</div>