<div class="search-details-main-container">
  <form action="/search/{{bookId}}" method="POST">

    <div class="details-heading">
      <div class="cover-data-container">
        <div class="search-details-cover-container">
          <img src="{{book.imageLinks.thumbnail}}" alt="" />
        </div>
        <div class="book-data-container">
          <p>Published by {{book.publisher}}</p>
          <p>Published in {{book.publishedDate}}</p>
          <p>{{book.pageCount}} pages</p>
          <p>
            {{book.industryIdentifiers.1.type}}:{{book.industryIdentifiers.1.identifier}}
          </p>
        </div>
      </div>
      <div>
        <div class="add-btn-container">
          <button class="add-btn" type="submit">Add to Bookshelf</button>
        </div>
        <div class="add-btn-container">
          <a href="/">
            <button class="add-btn">Back to search</button>
          </a>
        </div>
      </div>
    </div>

    <div class="search-details-container">
      <h1>
        {{book.title}}
      </h1>
      {{#each book.authors}}
        <a href="/search/book-search?author={{this}}&title=&generic=&genre=">
          {{this}}
        </a>
      {{/each}}
      <p class="description">
        {{cleanDescription book.description}}
      </p>
    </div>

  </form>
</div>