
<div class="results-container">
  <div class="search-result-heading">
  <div>
    <img class="headerImage" src="/images/Hero-Image.png" alt="">
  </div>

    <h1>Top results for your search</h1>
  </div>


    <ul class="results-list-container">

     
        {{#each books.data.items}}
        {{#if this.volumeInfo.description}}
 <div class="results-item-container">
          <li>

            <div class="cover-img">
              <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="" />
            </div>

            <div class="title">
              <h5>{{this.volumeInfo.title}}</h5>
            </div>

          
              {{#each this.volumeInfo.authors}}
                <span class="author">
                <span>{{this}}</span> <span class="ghost">_</span>
               </span>
              {{/each}}

            {{#if this.volumeInfo.description}}
              <div class="description">
                <p> {{splitUrl this.volumeInfo.description}}</p>         
              </div>
              {{/if}}

             <div class="details-link-container">
               <a href="/search/{{this.id}}"> <button class="details-link" >Read more</button> </a>
             </div>

 </div>
          </li>

         {{/if}}
        {{/each}}
     
    </ul>

            <div class="search-another-link-container">
               <a href="/"> <button class="search-another-link" >Back to search</button> </a>
             </div>

</div>