<div class="results-container">

  <div class="heading">
    <h1>Top results for your search</h1>
  </div>

  <div class="results-list-container">

    <ul>

      <div class="results-item-container">
        {{#each books.data.items}}

          <li>

            <div class="cover-img">
              <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="" />
            </div>

            <div class="title">
              <h5>{{this.volumeInfo.title}}</h5>
            </div>

            <div class="author">
              {{#each this.volumeInfo.authors}}
                <p>{{this}}</p>
              {{/each}}
            </div>

            <div class="description">
              {{#if this.volumeInfo.description}}
                <p> {{splitUrl this.volumeInfo.description}}</p>
              {{/if}}
            </div>

          </li>

          <div class="details-link"><a href="/search/{{this.id}}">View details</a></div>

        {{/each}}
      </div>
    </ul>
  </div>
</div>