<div class="mainContainer">

  <div class="details-heading">
    <div class="cover-data-container">
      <div class="search-details-cover-container">
        <img src="{{book.bookPictureUrl}}" alt="" />
      </div>
      <div class="book-data-container">
        <p>Published in {{book.publishedDate}}</p>
        <p>{{book.pageCount}} pages</p>
      </div>
    </div>
    <div class="links-container">
      <div class="dlt-btn-container">
        <a href="/books/{{book._id}}/edit">
          <button class="dlt-btn">
            Edit
          </button>
        </a>
      </div>
      <div class="dlt-btn-container">
        <a href="/books/{{book._id}}/delete">
          <button class="dlt-btn" type="submit">Delete</button>
        </a>
      </div>
      <div class="dlt-btn-container">
        <a href="/bookshelf/my-created-books">
          <button class="dlt-btn" type="submit">Back</button>
        </a>
      </div>
    </div>
  </div>

  <div class="detailsContainer">
    <h2>{{book.title}}</h2>
    {{!-- <h4 class="author">{{book.authors}}</h4> --}}
      <a href="/search/book-search?author={{book.authors}}&title=&generic=&genre=">
          {{book.authors}}
        </a>
    <p class="description">{{cleanDescription book.description}}</p>
    <ul>
      Categories:
      {{#each book.categories}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>

</div>

{{!-- <div class="mainContainer">

  <div class="imageContainer">
    <img class="details-book-cover" src="{{book.bookPictureUrl}}" />
  </div>

  <div class="detailsContainer">
    <h2>{{book.title}}</h2>
    <h4>{{book.authors}}</h4>
    <p><b>Description:</b> {{book.description}}</p>
    <p><b>Published in:</b> {{book.publishedDate}}</p>
    <p><b>Page count:</b> {{book.pageCount}}</p>
    <p><b>Genre:</b></p>
    <ul>
      {{#each book.categories}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="linksContainer">
    <a href="/books/{{book._id}}/edit">
      <button class="routeBtn">
        Edit
      </button>
    </a>
    <a href="/books/{{book._id}}/delete">
      <button class="routeBtn">
        Delete
      </button>
    </a>
    <a href="/bookshelf/my-created-books">
      <button class="routeBtn">
        Back
      </button>
    </a>
  </div>

</div> --}}