<div class="mainContainer">

  <div class="profile-info-container">
    <div>
      <h2> Hello, {{user.username}}!</h2>
    </div>
    <div>
      <img
        class="profile-picture"
        src="{{pictureUrl}}"
        alt="You have no profile picture"
      />
    </div>
    
    <div>
      <a href="/users/{{user._id}}/edit">
        <button class="profile-btn" type="submit">Edit Profile</button>
      </a>
    </div>
    <div>
      <form action="/auth/logout" method="GET">
        <button
          class="submit-btn profile-btn"
          id="logout-btn"
          type="submit"
        >Logout</button>
      </form>
    </div>
  </div>

</div>

{{!-- <div class="mainContainer">

  <a id="button" class="nav-link" href="/books/new-book">
    <button class="navbarBtn">
      Create New Book
    </button>
  </a>

  <h2> Hello, {{user.username}}!</h2>
  <h4>{{user.email}}</h4>
  <img
    class="profile-picture"
    src="{{pictureUrl}}"
    alt="You have no profile picture"
  />

  <a href="/users/{{user._id}}/edit">
    <button class="routeBtn" type="submit">Edit Profile</button>
  </a>

  <form action="/auth/logout" method="GET">
    <button class="submit-btn" type="submit">Logout</button>
  </form>

</div> --}}